
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

/* header */
header{
   line-height: 80px;
   background-color: white;
}
#logo-text{

   font-size: 50px;
   font-family: sans-serif;
   font-weight:800;

}
#logo{
  margin-left: 20px;
  margin-top: 15px;
  vertical-align:text-bottom;
  
}
/*body*/
body{
   background-color: #f1f5fa;
   margin-bottom:30px;
}
/*main*/
.container{
   width:70%;
   height: 100%;
   margin: 0 auto;
   background-color: white;
   margin-top: 3px;
}

/* Section Add Task */
#AddTask-section{
   height: 50px;
   margin-top: 30px;
   
}

.box{
   display: inline-block;
   margin-top: 10px;
   border-radius: 5px;
   margin-left: 2px;
   padding: 10px;
   font-size: 12px;
   
}
.shape-first{
   border-radius: 10px 10px 0px 0px;
   padding-left: 50px;
}

.shape-second{
   border-radius: 0px 0px 10px 10px;
   padding: 50px;
}

.blue{
   color:white;
   background-color: #4dabf7;
   border: solid 0.5px #4dabf7;
}

.grey{
   color:gray;
   border: solid 0.5px gray;
}

/*sections Todos*/
h2{
   font-family: sans-serif;
   font-weight: 700;
}

.todo{
   margin-top:20px;
}
ul{
   list-style-type:none;
   padding-left:20px;
   line-height: 40px;
}

.fa{
   font-size: 20px;
   margin-right:5px;
}
.fa-check-circle-o{
   color: green;
}

.fa-times-circle{
   color: red;
}

/* Tag */
.tag{
   display: inline-block;
   border-radius: 15px;
   margin-left: 5px;
   padding: 3.5px 7px;
   font-size: 10px;
   border: solid 0.5px #4dabf7;
   line-height: 16px;

   font-weight: 800;
   color: white;
}

.purple{
   background-color: #7b68ee;
   border: solid 0.5px #7b68ee;
}

.green{
   background-color: mediumaquamarine;
   border: solid 0.5px mediumaquamarine;
}

.orange{
   background-color: orange;
   border: solid 0.5px orange;
}

.pink{
   background-color: #d25833;
   border: solid 0.5px #d25833;
}

.lime{
   background-color: #a1c222;
   border: solid 0.5px #a1c222;
}